nav li {
  position: relative;
  width: max-content;
  font-weight: 600;
}
a.active {
  background: #4e7661 !important;
  color: white !important;
}

nav li::after {
  position: absolute;
  height: 2px;
  width: 0%;
  content: "";
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #4e7661, #485d52);
  border-radius: 100px;
  transition: width 1s ease-out;
}

nav li:hover::after {
  width: 100%;
  transition: width 1s ease-in-out;
}

.pages {
  display: none;
}
.page:hover .pages {
  display: block;
  background-color: #4e7661;
  z-index: 100;
}
